<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http:/java.sun.com/dtd/web-app_2_3.dtd">
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.tw.web.HelloServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <!--list all person-->
    <servlet>
        <servlet-name>ShowPersonServlet</servlet-name>
        <servlet-class>com.tw.web.ShowPersonServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowPersonServlet</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>

    <!--create person-->
    <servlet>
        <servlet-name>CreatePersonServlet</servlet-name>
        <servlet-class>com.tw.web.CreatePersonServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreatePersonServlet</servlet-name>
        <url-pattern>/createPerson</url-pattern>
    </servlet-mapping>

    <!--delete person-->
    <servlet>
        <servlet-name>DeletePersonServlet</servlet-name>
        <servlet-class>com.tw.web.DeletePersonServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeletePersonServlet</servlet-name>
        <url-pattern>/deletePerson</url-pattern>
    </servlet-mapping>

    <!--update person-->
    <servlet>
        <servlet-name>UpdatePersonServlet</servlet-name>
        <servlet-class>com.tw.web.UpdatePersonServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdatePersonServlet</servlet-name>
        <url-pattern>/updatePerson</url-pattern>
    </servlet-mapping>




</web-app>